.o_fit_group{
    margin-bottom:0px !important; 
    padding-top:0px !important; 
    margin-top:0px !important;
}


.o_field_bold{
    font-weight: bold !important;
}

.o_form_local{
    min-width: 650px !important;
    max-width: 1000px !important;
    min-height: 330px;
    background: white;
    padding: 16px;
    margin: 0 auto;
}

.small_separator{
    font-size: 13px !important;
    margin: 0px 0 !important;
}

.btn-infra-small{
    margin-top: 5px !important;
    padding: 3px 3px !important;
    display:block;
}

.w65{
    width: 65% !important;
}

.w35{
    width: 35% !important;
}

.w60{
    width: 60% !important;
}

.w40{
    width: 40% !important;
}

.textfield100{
    width : 100px !important;
}

.textfield200{
    width : 150px !important;
}

.textfield200{
    width : 150px !important;
}

.tree_file_foto [data-id="foto"]{width: 112px;}
.tree_file_document [data-id="archivo"]{width: 112px;}

.tree-suspension [data-id="fecha_inicio"]{width: 112px;}
.tree-suspension [data-id="fecha_fin"]{width: 112px;}

span.o_cunamas_blue{
    color: #009ee2;
}

input.to_upper{
    text-transform: uppercase;
}

.title-small{
    font-size: 14px !important;
    color: #777777 !important;
}

