.oe_website_login_container {
    background-color: rgba(152, 210, 210, 0.25);
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    height: 100%;
}
