body{
    font-family: 'Arial', 'Verdana', 'Tahoma' !important;
}

table.table-report >  tbody > tr > td{
    padding: 3px !important;
}

table.table-report >  thedad > tr > th{
    padding: 3px !important;
}

.line-title-cas{
    line-height: 1.6;
}

.p-justify{
    text-align: justify;
}